.scroll-ambitos {
    background-color: gainsboro;
    overflow: auto;
    white-space: nowrap;
    height: 5vh;
    box-shadow: 10px 5px 10px gray;
    margin-top: 10vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-ambitos a {
    display: inline-block;
    color: rgb(67, 67, 67);
    font-size: large;
    text-decoration: none;
    min-width: 15vh;
    text-align: center
}

.scroll-ambitos a:hover {
    color: #9148a7ff
}

#link-activo {
    background: linear-gradient(rgb(153, 0, 255),rgb(255, 0, 140));
    -webkit-background-clip: text;
    color: transparent;  
  
}
